
	
.slider-wrapper{
	position:relative;
	overflow:hidden;
	
	width:100%;
	
	
	
	
}

.slider{
	position:relative;
	width:100%; 
	height:350px; /* when responsive, comment this out */
	margin:0 auto;
	
	background:#fff;
}

@media only screen and (min-width: 967px){
	.slider{
		width:967px;
	}
}

/* ELEMENT STYLES */.slide 

p{
		position:absolute;
	top:-200px;
	
	z-index:8000;
	padding:1% 3%;
	
line-height:100%
	font-size:24px;
	color:#fff;
	white-space: nowrap;
	text-transform:uppercase;
}

.claim{
	line-height:100%
}	

.teaser{
	padding:0.5% 1.5%;
	font-size:14px;
	 line-height:100%
}

.small{
	width:auto;
   padding-left:0; padding-right:0px;
	text-align:center;
}

.light-green1{background:#EF7D00;}
.light-green{background:#95C542;}
.green{background:#7CB761}
.orange{background:#EF7D00}
.turky{background:#348E8A}
.white{background:#fff; color:#333}