@charset "utf-8";
/* CSS Document */

*
{
	margin:auto;
	padding:0;
	line-height: 16px;
}
body
{

	background-color:#D5D5D5;
background-image:url(../images/bg6.jpg);
}
.wrapper
{
	background-color:#fff;
	width:967px;
	padding-bottom:0px;
        margin:auto;
}
.header
{
	width:100%;
	height:120px;
	background-color:#FFF;
	padding-top: 14px;
}
#logo
{
	width:40%;
	float:left;
	padding-left:5px;
}
#social
{
	float:right;
	
}
#social ul
{
	list-style-type:none;
       /* padding-top:13% */;
margin-right: 20px;
margin-bottom: 10px;
}
#social ul li
{
	/* float:left; */
	display:inline-block;
    padding:0 5px;
    font-family: sans-serif;
}
#social ul li a
{
	text-decoration: none;
	color:#000;
}
#social ul li a:hover
{
	text-decoration: none;
	color:#0099ff;
}
#social ul>li:first-child
{
padding-top:3px;
}
.nav
{
	width:100%;
	background-color:#09F;
	height:50px;
	float:left;
}


	
}


.slide1
{
	width:100%;
	height:350px;
	float:left;
}
.box
{
	float:left;
	width:100%;
	height:210px;
	margin-top:31px;
}
.box1
{
	width:30%;
	float:left;
	margin-right:5px;
	background-color:#202020;
	height:205px;
	margin-left:43px;
	text-align:center;
}
.box2
{
	width:30%;
	float:left;
	margin-right:5px;
	background-color:#202020;
	height:205px;
	text-align:center;
}
.box3
{
	padding-top:0px 0px 0px 0px;  
	width:30%;
	float:left;
	background-color:#202020;
	height:205px;
	text-align:center;
}
.box1 .box2 .box3,h2
{
	width:100%;
	padding:6px 0px;
	font-size:18px;
	color:#f8f582;
	border-bottom:#aba8a8;
    border-bottom-style: groove;
	border-bottom-width: 1px;
font-family: Helvetica, Arial, sans-serif;
}
.box1 .box2 .box3,p
{
	
font-size:13px;
	color:#FFF;
	font-family: Helvetica, Arial, sans-serif;
	padding:8px 5px;
	line-height:18px;
}
.box1 a,.box2 a,.box3 a
{
text-decoration:none;
color:#fff;
}
.multi
{
width:967px;
float:left;
}
.content_multi
{
width:100%;
float:left;
}
.content_multi h2
{
border:none;
color:black;
padding-top:15px;
text-align:center;
}

.content_multi p
{
color:black;
text-align: center;
font-weight: 700;
}
.list_fac
{
width:100%;
}
.left_list
{
width:40%;
float:left;
padding-left:60px;
}
.right_list
{
width:40%;
float:left;
}

.left_list li, .right_list li
{
font-family: sans-serif;
color: black;
padding: 5px 0px;
}

.follow                                {clear:both; margin-top:2em; font-size:1.125em;}
.follow span                           {font-weight:bold;}



.note {
    position:relative;
    width:53%;
    padding:1em 1.5em;
    margin:1em auto;
    color:#fff;
    background:#DFAE7D;
    overflow:hidden;
}

.note:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#fff #fff #658E15 #658E15; /* A bit more verbose to work with .rounded too */
    background:#658E15; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
    /* Optional: shadow */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
#consultant
{
width:100%;
float:left;
margin-top: 30px;
}
#consultant h2 {
text-align: center;
border: none;
color: rgb(248, 243, 243);
font-size: 22px;
margin-bottom: 35px;
background-color:red;
width: 300px;
}
#consultant1
{
width:35%;
float:left;
background-color:#fff;
margin-left:18%;
margin-right:2%;
}
.consultant2
{
width:45%;
float:left;
background-color:#fff;
}
#consultant1 h4, .consultant2 h4
{
font-family:sans-serif;
margin-top:15px;
color:rgb(0, 118, 118);
}
#consultant1 p, .consultant2 p
{
font-family:sans-serif;
color:rgb(66, 65, 65);
margin:0;
padding:0;
line-height: 25px;
}}
#consultant1 span, .consultant2 span,.consultant3 span
{
color:rgb(1, 149, 162);;
font-weight:bold;
}
#consultant1 ul li,.consultant2 ul li,.consultant3 ul li
{
list-style-type:none;
font-family:serif;
border:2px solid gray;
margin-bottom:5px;
padding:8px 5px;
}
#consultant1 ul li a,.consultant2 ul li a,.consultant3 ul li a
{
text-decoration: none;
color:#000;
}
.service
{
width:100%;
float:left;
margin-bottom:25px;
}
.service h2
{
border:none;
color:black;
margin-top: 15px;
margin-top: 15px;
border: 2px solid gray;
padding: 8px;
width: 300px;
text-align: center;
}
.service h1
{
text-align: center;
color: #fff;
font-family: Helvetica, Arial, sans-serif;
font-size: 24px;
margin-top: 37px;
line-height: 40px;
background-color:red;
width: 75%;
}
.service p
{
font-family: Helvetica, Arial, sans-serif;

}
.image
{
width:100%;
}
.image img
{
float:left;
}
.image h2
{
color:black;
border:none;
font-family: Helvetica, Arial, sans-serif;
text-align:center;

}
.image p
{
color:black;
border:none;
font-family: Helvetica, Arial, sans-serif;
text-align: justify;
line-height: 24px;
}
.image h4
{
color:rgb(14, 83, 138);
text-align:center;
padding-top:22px;
}
.scope
{
width:80%;
float:left;
margin-top:20px;
padding:0 10%;
}
#scope1
{
width:35%;
background-color:rgb(115, 119, 128);
height:160px;
float:left;
margin-right:3%;
text-align:center;
margin-left:13%;
}
.scope2
{
width:35%;
float:left;
height:160px;
background-color:rgb(115, 119, 128);
}
#scope1 h2,.scope2 h2
{
border:none;
color:white;
text-align:center;
}

.map
{
width:100%;
float:left;
}
.myform
{
float:left;
width:100%;
}
#myform1
{
float:left;
width:45%;
margin-left: 9%;
}
.info
{
float:left;
width:35%;
margin-top:35px;


}
.info h2
{
border:none;
color:black;
text-align:center;
border-bottom-color: black;
border-bottom-style: groove;
border-bottom-width: 1px;
}
.info h5
{
text-align:center;
font-style: italic;
font-size: 14px;
font-family: Helvetica, Arial, sans-serif;

}
.info p
{
text-align:center;
font-family: Helvetica, Arial, sans-serif;
color:#000;
font-weight:700;
}
.abt_img
{
width:100%;
float:left;
}
.abt_content p
{
font-family: Helvetica, Arial, sans-serif;
color:black;
text-align: justify;
line-height:24px;
}
.abt_sec
{
width:100%;
float:left;
margin-top:30px;
}
.abt_sec h2
{
color:black;
font-family: Helvetica, Arial, sans-serif;
border:none;
text-align:center;
}
.abt_sec ul
{
list-style-type:none;

}
.abt_sec li
{
margin-left:10px;
font-size:14px;
text-align:center;
padding-bottom:13px;
font-family:arial;
}
.experts
{
width:100%;
float:left;
margin-top:30px;
}
#experts1
{
width:40%;
float:left;
margin-right:6%;
margin-top:40px;
margin-left: 7%;
}
.experts2
{
width:40%;
float:left;
margin-top:40px;
}
.experts h2
{
color:black;
font-family: Helvetica, Arial, sans-serif;
border:none;
text-align:center;
}
#experts1 h2, .experts2 h2
{
text-align:center;
color:black;
font-family: Helvetica, Arial, sans-serif;
font-size:15px;
border:none;
}
#experts1 h4, .experts2 h4
{
text-align:center;
color:black;
font-family: Helvetica, Arial, sans-serif;
font-size:12px;
border:none;
}
#experts1 h5 , .experts2 h5 
{
text-align:center;
}
#experts1 p , .experts2 p 
{
text-align:justify;
font-family: Helvetica, Arial, sans-serif;
color:black;
line-height:24px;
}
.collect
{
width:100%;
float:left;
margin-top:15px;
}
.collect h2
{
color:#fff;
font-family: Helvetica, Arial, sans-serif;
border:none;
text-align:center;
width: 194px;
background-color: rgb(6, 101, 131);

}
.center
{
width:100%;
float:left;
margin-top:20px;
}
.center1
{
width:40%;
float:left;
margin-left: 9%;
}
.center1 h2
{
color:black;
font-family: Helvetica, Arial, sans-serif;
border:none;
font-size: 15px;
}
.center1 h5
{
color:black;
font-family: Helvetica, Arial, sans-serif;
border:none;
}
.photo
{
width:45%;
float:left;
margin-top:20px;
}
.photo h2{
	color:#000;
	text-align: center;
	line-height: 1.6em;
}
.myserv
{
width:100%;
float:left;
margin-top: 10px;
}
.myserv h2
{
color:black;
border:none;
}
.myserv p
{
text-align:justify;
font-family: Helvetica, Arial, sans-serif;
color:black
}
.bottom
{
float:left;
width:100%;
margin-top:20px;
}
.health
{
width:100%;
float:left;
}
.health h2
{
color:black;
border:none;
text-align:center;
font-family: Helvetica, Arial, sans-serif;
}
.health h4
{
margin-top:15px;
color:black;
border:none;
text-align:center;
font-family: Helvetica, Arial, sans-serif;

}
.health1
{
width:100%;
float:left;
margin-top:25px;
}
.health1 h4
{
color:black;
border:none;
text-align:center;
font-family: Helvetica, Arial, sans-serif;
color:rgb(233, 19, 19);
}
#healthinfo1
{
width:60%;
border:1px solid;
margin-top:5px;
}
.healthinfo11
{
width:60%;
float:left;
}
.healthinfo11 li
{
list-style-type:none;
margin-left:15px;
}
.healthinfo12
{
width:38%;

float:left;
}
.healthinfo12 li
{
list-style-type:none;

}
.footer
{
width:100%;
float:left;
margin-top:31px;
background-color:#09F;
height:40px;
line-height:40px;
text-align:center;
color:#fff;
margin-bottom:3px;
}
.news
{
width:100%;
float:left;
text-align:center;

}
.news h2
{
color:rgb(85, 85, 85) !important;
border:none;
text-align:center;
margin-top:10px;
font-size: 25px;
color:rgb(255, 102, 0);
}
.news h4
{
font-size:20px;
}
.news p
{
color:#000;
border:none;
text-align:center;
font-size: 15px;
}
.news a
{
text-decoration:none;
}
.button_news{
border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 13px 13px 13px 13px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button_news:hover{
 border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}
.weekday
{
text-align:center;
float:left;
width:100%;
margin-top:20px;
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.mybtn{
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.mybtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.inputcaptcha{
        width: 120px !important;
        float: left;
}

.imgcaptcha{
        border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 6px 10px;
    float: left;

}

.refresh{
        float: left;
        margin: 14px 5px;
        cursor: pointer;
}

/* ---- ACCORDIAN CSS ---- */

.panel-title a {
	display: block;
	position: relative;
	padding: 10px 60px 10px 15px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #6d7194;
}
.drop-accordion .panel-default {
	overflow: hidden;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.drop-accordion .panel-heading {
	overflow: hidden;
	padding: 0;
	border: 1px solid #f1f1f1;
	background: fcfcfc;
	border-radius: 0;
}
.leaf-ui .drop-accordion .panel-heading, .circlus-ui .drop-accordion .panel-heading {
	border-radius: 4px;
}
/* .panel-title a {
	display: block;
	position: relative;
	padding: 20px 60px 20px 20px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #191919;
} */
.panel-title .expand-amount {
	position: absolute;
	right: 3.5em;
	top: 0;
	bottom: 0;
	font-size: 18px;
	line-height: 46px;
	color: #29aafe;
}
.expand-amount:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.panel-title .expand-icon-wrap {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border-left: 1px solid #d9d7d7;
	font-size: 24px;
	line-height: 46px;
	color: #29aafe;
}
.expand-icon-wrap:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.panel-title .expand-icon {
	padding: 0 18px;
	vertical-align: middle;
}
.panel-title .expand-icon:before {
	content: "\f055";
}
.drop-accordion .panel-body {
	line-height: 25px;
	padding: 20px;
	position: relative;
	border: 1px solid #d9d7d7;
}
.circlus-ui .drop-accordion .panel-body, .leaf-ui .drop-accordion .panel-body {
	border-radius: 4px;
}
.panel-body-icon {
	width: 75px;
	float: left;
	padding: 10px;
}
.panel-body-icon i {
	font-size: 45px;
	color: #29aafe;
}
.drop-accordion .tab-collapsed {
	border: transparent;
	background: #29aafe;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.tab-collapsed a {
	color: #fff;
}
.about-us .panel-group {
	margin-bottom:0;	
}
.tab-collapsed .expand-icon-wrap {
	border-color: #fff;
	color: #fff;
}
.tab-collapsed .expand-icon:before {
	content: "\f056";
}
.panel-body ul {
	list-style: disc;
	padding: 0 0 0 30px;
	text-decoration: none;
	margin-bottom: 0;
}
.panel-body ul  li ul{
	list-style: circle;
}
.panel-body ul li {
	padding: 5px;
}

.panel-body table{
	text-align: center;
}

.panel-body table thead{
	background: #1e5799;
	color: #FFF;
}
.panel-body table th, .panel-body table td{
	padding: 5px;
}

.panel-body table td{
	font-weight:500;
}		

th{
	text-align: center !important;
}
.panel-body{
	background: #f9f9f9;
}
